.auth {
    min-height: 100vh;
    display: flex;

    .bg {
        flex-grow: 1;
        background: url('/images/auth-bg.jpg') no-repeat center;
        background-size: cover;
    }

    .form-container {
        background-color: $neutral-light;
        min-height: 100vh;
        width: 630px;
        padding: 30px;
        display: grid;
        place-items: center;
        margin-left: auto;
    
        @media (width < 1000px) {
            width: 60vw;
        }
        
        @media (width < 750px) {
            width: 100%;
        }
    
        .content {
            max-width: 350px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
    
            .title {
                font-size: 50px;
                line-height: 50px;
                font-weight: 700;
            }
    
            .sub-title {
                opacity: 0.8;
                margin: 10px 0 30px 0;
            }
    
            @import './form';
            
        }
    }
    
}
