$neutral-dark: #2F3645;
$neutral-dark-accent-1: #353d4e;
$neutral-dark-accent-2: #394255;

$neutral-light: #ffffff;
$neutral-light-accent-1: #f3f3f3;
$neutral-light-accent-2: #e9e9e9;

$neutral-grey: grey;

$primary: #3366FF;
$primary-accent-1: #3061f5;
$primary-accent-2: #315fe7;

$secondary: #E68369;
$secondary-accent-1: #da7c64;
$secondary-accent-2: #cc735d;

$error: #FF3A3A;
$error-accent-1: #ee3939;
$error-accent-2: #e23636;

$warning: #FFA83F;
$warning-accent-1: #f7a43f;
$warning-accent-2: #ec9d3c;

$success: #58DB41;
$success-accent-1: #53d13d;
$success-accent-2: #53c23f;
