.sidebar {
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    width: 300px;
    background-color: $neutral-light;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 100;
    transition: transform 100ms linear;
    transform: translateX(-100%);

    @import './cases';

    &.show {
        transform: translateX(0);
    }

    @media (width <= 950px) {
        transform: translateX(-100%) !important;
        
        &.show {
            transform: translateX(0) !important;
            box-shadow: 0 4px 8px 0 rgba($neutral-dark, 0.4), 0 6px 20px 0 rgba($neutral-dark, 0.45);
        }
    }

    a {
        color: $neutral-dark;
    }

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $neutral-light-accent-2;
        padding: 20px;

        .title {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
                height: 30px;
            }

            div {
                font-weight: 700;
                font-size: 18px;
            }
        }

        .hide-button {
            font-size: 18px;
            cursor: pointer;
            padding: 2px 5px;
            transition: background-color 100ms linear;
            border-radius: 3px;
            
            &:hover {
                background-color: $neutral-light-accent-1;
            }
            
            &:active {
                background-color: $neutral-light-accent-2;
            }
        }
    }

    nav {
        padding: 10px;
        border-bottom: 1px solid $neutral-light-accent-2;

        ul {
            
            &:not(:last-of-type) {
                margin-bottom: 20px;
            }

            .heading {
                opacity: 0.7;
                padding: 10px 10px;
            }

            li {
                list-style-type: none;

                button, a {
                    font-size: 17px;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    text-align: left;
                    padding: 5px 0 5px 10px;
                    margin-right: 10px;
                    text-decoration: none;
                    cursor: pointer;
                    transition: background-color 80ms linear;
                    border-radius: 5px;

                    svg {
                        width: 20px;
                        margin-right: 10px;
                    }

                    .count {
                        margin-left: 10px;
                        background-color: $error;
                        padding: 3px 9px;
                        color: $neutral-light;
                        font-size: 13px;
                        font-weight: bolder;
                        border-radius: 5px;
        
                        &:empty {
                            display: none;
                        }
                    }
                    
                    &:hover {
                        background-color: $neutral-light-accent-1;
                    }
                    
                    &:active {
                        background-color: $neutral-light-accent-2;
                    }
                }
            }
        }
    }

    nav.bottom {
        margin-top: auto;
        border-bottom: 0px solid $neutral-light-accent-2;

        ul {
            margin-bottom: 0;;
        }
    }
}
